.text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
    text-align: left;
}

.text2 {
    font-family: "PT Serif", 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;
    text-align: left;
    text-decoration: line-through;
}

.text3 {
    font-family: "PT Serif", 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

.text4 {
    font-family: "PT Serif", 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    word-spacing: 30px;
    text-shadow: 1px 1px 1px #ab10ad;
    text-decoration: overline wavy;
}

.text5 {
    font-family: "PT Serif", 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    letter-spacing: 5px;
    text-decoration: underline double;
}