* {
    box-sizing: border-box;
    font-family: sans-serif;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    border: 1px solid #000;
    border-bottom: none;
    font-weight: 700;
    padding: 5px;
}

th,
td {
    border: 1px solid #000;
    padding: 5px;
}

.weekend {
    color: #db0000;
}